<!DOCTYPE html>
<html>
<head>
	<title>Smashter Hits - Profile</title>
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<!-- Underscore -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/profile.css">
	<script src="/js/profile.js"></script>
</head>
<body>
	<div class="heading">
		<h1 class="username">Username</h1>
	</div>
	<div class="backbutton">
			<a href="/"><button type="button" class="btn btn-primary btn-lg">Back</button></a>
	</div>


	<div class="score">
		<h2>Personal Scores!</h3>
		<!-- <h3>Top 10</h4> -->

		<table class="table table-hover" id="scoreswrapper"></table>


	</div>



</body>

<!-- use template to create a profile page -->

<!-- Underscore template -->
<script type="text/template" id="scores-template">
	<tr class="row">
		<th>#</th>
		<th>Time</th>
	</tr>
	<% user.scores = user.scores.sort(function(a, b){return a-b}) %>
	<% user.scores.forEach(function(score, index){ %>
		<tr class="row">
			<td><%= index + 1 %></td>
			<td><%= score %></td>
		</tr>
	<% }); %>
</script>





</html>