<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="app.js"></script>
	<script src="jquery.js" type="text/javascript"></script>
	<script src="jquery.runner.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="style.css"
</head>
<body>
	
	<span id="runner"></span>

	<button class="next"><strong>Next</strong> Stack</button>
	<button class='decrease'><strong>Decrease</strong> Stack</button>

	<button class="retry"><strong>retry</strong></button>


</body>
</html>