<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="app.js"></script>

	<link rel="stylesheet" type="text/css" href="style.css"
</head>
<body>
	
	<div><span id="timer">0.00</span></div>

	<div>
	<button class="start"><strong>START</strong></button>
	</div>


	<button class="next"><strong>Next</strong> Stack</button>
	<button class='decrease'><strong>Decrease</strong> Stack</button>

	<div><button class="reset"><strong>retry</strong></button></div>


</body>
</html>