<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css"
</head>
<body>
	<h2>Press "K" to decrease the number</h2>
	<h2>Press "D" at 0 to get to the next stack</h2>
	<div class="boardSpace">

		<div class ="column">
			<div class="minor"></div>
			<div class="minor"></div>
		</div>
		<div class ="column2">
			<div class="minor"></div>
			<div class="minor"></div>
			<div class="minor"></div>
			<div class="minor"></div>
		
		</div>

<!-- 			<div class="minor">3</div>
			<div class="minor">9</div>
			<div class="minor">3</div>
			<div class="minor">0</div>
			<div class="minor">3</div>
			<div class="minor">3</div>
			<div class="minor">0</div>
			<div class="minor">5</div>
 -->

	</div>
	<button class="next"><strong>Next</strong> Stack</button>
	<button class='decrease'><strong>Decrease</strong> Stack</button>

</body>
</html>